*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #ffffff;
}

.header__title {
    display: flex;
    font-family: "Nunito", sans-serif;
    color: #415167;
    font-size: 3.5rem;
    font-weight: 1400;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__nav {
    background: #215167
}

.header__logo {
  display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    flex-wrap: wrap;
    align-content: flex-start;
}

.header__img {
    display: flex;
}

.nav__list {
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-direction: column;
}

.nav__link {
    color:#ffffff;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
}

.nav__link:hover {
    color:rgb(80, 148, 224);
}

.nav__link:active {
    color: rgb(162, 212, 253);
}

.nav__item--active .nav__link {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.card {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 16px;
}

.card--featured1 {
    background: #f8f9fa;
    border-color: #415167;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: #ffffff;
    align-items: center;
    justify-items: center;
}

.card--featured2 {
  background: #f8f9fa;
  border-color: #415167;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  border: #ffffff;
}

.card--featured3 {
    background: #f8f9fa;
    border-color: #415167;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: #ffffff;
    align-items: center;
}

.card--featured4 {
  background: #f8f9fa;
  border-color: #415167;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: #ffffff;
}

.card__title {
    font-family: "Nunito", sans-serif;
    color: #151D28;
    font-weight: 800;
}

.cards__title {
    display: flex;
    color: #415167;
    font-family: "Nunito", sans-serif;
    margin: 25px;
    flex-direction: column;
    align-items: center;
}

.card__article {
    padding: 16px 4px;
}

.card__text {
    color:#415167;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    padding: 6px 0px;
}

.highlight {
    font-weight: 1400;
}


.personalized {
    background-color:#C7A17A;
    color:#ffffff;
    font-weight: 1400;
}

.card__button {
    padding: 4px 12px;
    border-radius: 15px;
    color:#ffffff;
    background-color: #C7A17A;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.card__button:hover {
    padding: 4px 12px;
    border-radius: 15px;
    color:#C7A17A;
    background-color: #ffffff;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.card__button:active {
    padding: 4px 12px;
    border-radius: 15px;
    color:#ffffff;
    background-color: #C7A17A;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.card__button_navy {
    padding: 4px 12px;
    border-radius: 15px;
    color:#215167;
    font-family: "Nunito", sans-serif;
    background-color: #ffffff;
    font-weight: 600;
}

.card__button_navy:hover {
    padding: 4px 12px;
    border-radius: 15px;
    color:#ffffff;
    font-family: "Nunito", sans-serif;
    background-color: #92b1be;
    font-weight: 600;
}

.card__button_navy:active {
    padding: 4px 12px;
    border-radius: 15px;
    color:#215167;
    font-family: "Nunito", sans-serif;
    background-color: #ffffff;
    font-weight: 600;
}

.card__span {
    color:#C7A17A;
    font-size: 1.5rem; 
}

.card__line {
    text-decoration: line-through;
    color:#215167;
    font-size: 1.2rem;
    padding: 7px;
}

#card0 {}

#card1 {}

#card2 {}

#card3 {}

#card4 {}

#foot {}


.footer  {
    display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #ffffff;
}